@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');
:root{
    --primary-color:#7363ff
}
body{
    font-family: 'Montserrat', sans-serif;
    
}
.container{
    padding-left: 1rem;
    padding-left: 1rem;
    

}
.container-centre{
    max-width: 600px;
    margin:auto;
}
hr{
    margin: 2rem 0rem;
}
.link{
    text-decoration: none;

    padding: 0.5rem 1rem;
}
.primary-link{

    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
    border:1px solid var(--primary-color)


    }
.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}
